extends ../global/layout.pug
block page
  .content.bg-grey-lighter.flex.flex-col
    .container.max-w-sm.mx-auto.flex-1.flex.flex-col.items-center.justify-center.px-2
      .bg-white.px-6.py-8.rounded.shadow-md.text-black.w-full
        h1.mb-8.text-3xl.text-center Connect Remarkable
        if hasToken
          form(action="/connect/remarkable/delete", method="post")
            p Remarkable Connected
            if message
              div
                .block.border.border-grey-light.w-full.p-3.alert.alert-error #{message}
            button.w-full.text-center.py-3.rounded.bg-green-500.text-white.my-1(type='submit' class='hover:bg-red-800 focus:outline-none') Delete Token
        else
          form(action="/connect/remarkable", method="post")
            if message
              div
                .block.border.border-grey-light.w-full.p-3.alert.alert-error #{message}
            p
              | Visit
              |
              a(href="https://my.remarkable.com/connect/desktop" target="_blank") my.remarkable
              |
              | and copy the code here
            input.block.border.border-grey-light.w-full.p-3.rounded.mb-4(type='text' name='code' placeholder='Code')
            button.w-full.text-center.py-3.rounded.bg-green-500.text-white.my-1(type='submit' class='hover:bg-green-800 focus:outline-none') Register